#quiz-container {
	width: 300px;
	margin: auto;
	background-color: rgb(135, 235, 210);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;

}

.question {
	margin: 10px 0;
	padding: 5px;
}

#result-container {
	display: block;
  	text-align: center;
	margin: 10px 0;
}

button {
	background-color: #45a049;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 0;
	
}

button:hover {
	background-color: #1e13eb;
}
#submit-button {
	display: block;
	margin: auto;
	
	
	
}
h1{
	
	display: block;
	margin: 10px;
	text-align: center;
	padding: 20px;
	background-color: skyblue;
	border-radius: 10px;
	color: red;
	
} 
p {
	font: caption;
	padding: 10px;

}